*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:black
}

html, body {
    height: 100%;
    border: blue 2px solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(Ice\ Knight.jpg);

}
h1{
    color: white;
}

p1{
    color: white;
    
}

button1{
    position:absolute;
bottom:0;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 25%;
  }